<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<!-- Connection to database -->
		<!-- Change the connection string or add a new one -->
		<!-- If added a new connection string, remember to change the name in NoteDBContext.cs -->
		<add name="DefaultConnection"
			 connectionString="Server=(localdb)\mssqllocaldb;Database=notodb;Trusted_Connection=True;TrustServerCertificate=true;" />
	</connectionStrings>
</configuration>